<section>
  <h2>Endpoint 2: Inicio de sesion</h2>
  <p><strong>Metodo:</strong> POST</p>
  <p><strong>URL:</strong> {{ api.apiBase }}/auth/login</p>
  <p>Este componente recibe correo y password. La respuesta devuelve un token JWT.</p>

  <form novalidate>
    <label>Correo</label>
    <input name="loginCorreo" type="email" [(ngModel)]="login.correo" required />

    <label>Password</label>
    <input name="loginPassword" type="password" [(ngModel)]="login.password" required />

    <button type="button" (click)="iniciarSesion()" [disabled]="api.cargando !== ''">
      {{ api.cargando ? 'Enviando...' : 'Enviar POST' }}
    </button>
  </form>

  <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>

  <p><strong>Token obtenido:</strong></p>
  <textarea readonly [value]="api.token || 'Todavia no se ha obtenido token'"></textarea>

  <app-respuesta-mini></app-respuesta-mini>
</section>
